<link rel="apple-touch-icon" sizes="180x180" href="/content/themes/spiral/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/content/themes/spiral/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/content/themes/spiral/assets/images/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/content/themes/spiral/assets/images/favicon-16x16.png">
<link rel="manifest" href="/content/themes/spiral/assets/images/site.webmanifest">
<link rel="mask-icon" href="/content/themes/spiral/assets/images/safari-pinned-tab.svg" color="#323c3d">
<link rel="shortcut icon" href="/content/themes/spiral/assets/images/favicon.ico">
<meta name="msapplication-TileColor" content="#323c3d">
<meta name="msapplication-TileImage" content="/content/themes/spiral/assets/images/mstile-144x144.png">
<meta name="msapplication-config" content="/content/themes/spiral/assets/images/browserconfig.xml">
<meta name="theme-color" content="#323c3d">