/**
 * Dashboard Stylesheet
 */

/** Import required files */
@import 'settings/index'
@import 'mixins/index'

font('Spiral Icons', 'spiral-icons', 400, normal)

/** General Styles */
:root
  font-family $font_primary

/** Admin Bar */
#wpadminbar
  background-color $color_primary_dark

  #wp-admin-bar-wp-logo
    > .ab-item
      padding 0

      .ab-icon
        grid middle
        size $icon_size 100%
        margin-right 0 !important
        padding 0 $space_xsm !important
        font-family 'Spiral Icons'

        &:before
          top 0
          content '\0040'
          font-size 1.5rem
          font-family 'Spiral Icons'
          line-height 2rem

/** Projects */
.project
  &-pictures
    grid row wrap
    overflow hidden
    margin-right (-($space_xsm))
    margin-left @margin-right
  
  &-picture
    align center
    flex 1
    margin 0 $space_xsm
    
    figure
      align center
      borders rgba($color_secondary, .2)
      margin $space_xsm 0
      padding .5rem
      background-color rgba($color_secondary, .1)
    
    img
      margin 0 auto

/** Custom Settings */
.spiral-settings
  .form-table
    th
      width 7rem
  
  input
    &[type='text']
    &[type='email']
      size 100% auto

  textarea
    size 100% 4rem

    &#about_intro
      height 6rem