/**
 * Dashboard Screen Login
 */

/** Import required files */
@import 'settings/index'
@import 'mixins/index'

.wp-core-ui
  .button
    &.button-large
      padding 0
      height auto
      line-height 4

.login
  grid column
  background-color $bg_color
  font-size $font_size

  a
    link $link_color

  h1
    size 6rem
    margin 0 auto $space

    a
      block()
      size 100%
      //background-image url($img_path +'/logo.svg')
      background-image url()
      mask url($img_path +'/logo.svg') no-repeat 100% 100%
      mask-size cover
      //background-size contain
      background-color $white

  form
    margin 0 auto $space
    padding 0
    background-color transparent
    box-shadow none

    input[type='text']
    input[type='password']
      input()
      margin $space_xsm 0 0

    input[type='checkbox']
      input checkbox
      margin-top 0
      margin-right $space_xsm

  label
    block()
    smaller()
    uppercase()
    color $font_color_darkest

    input
      group()

  #login_error
  .message
    alert error
    border 0

  .message
    alert warning
    border 0

  .button-primary
    btn primary

  #nav
  #backtoblog
    align right
    padding 0

    a
      link $link_color

  #nav
    margin-top 0

  #backtoblog
    margin $space_xsm 0 0 auto

#login
  margin auto
  padding 0
  min-width $body_width_min

  #loginform
    p
      margin-top 0
      margin-bottom @margin-top

      &.forgetmenot
      &.submit
        margin-top $space_sm

      &.forgetmenot
        float left
        margin-bottom 0

        label
          smaller()
          grid middle
          line-height $btn_height

      &.submit
        float right
        margin-bottom 0

        input#wp-submit
          btn primary

/** Jetpack Overrides */
.jetpack-sso
  &-form-display #loginform
    margin-bottom $space_lg
    padding 0

  &-or
    &:before
      background-color transparent

    span
      background-color transparent
      color $font_color
