/**
 * Main Stylesheet
 */

/** Import configuration and mixins files */
@import 'settings/index'
@import 'mixins/index'
@import 'parts/*.styl'

/** Layout */
{$wrapper_class}
  relative()
  margin-right $space_sm
  margin-left @margin-right
  min-width $container_width_min
  max-width $container_width_max

  +above($break_content_sm)
    margin-right $space
    margin-left @margin-right

  +above($break_content_lg)
    margin-right $space_lg
    margin-left @margin-right

  +above($break_margin)
    margin-right auto
    margin-left @margin-right

html
  relative()
  min-height 100%

body
  fluid_type .9rem 1rem
  height 100%
  background-color $color_primary
  color $font_color
  font-family $font_primary

main
  {$wrapper_class}
    padding $space_lg 0

a
  link $color_secondary_lightest

figure
  border_box()

  a
    block()
    size 100%
    font-size 0

img
  size 100% auto
