/**
 * Background Images
 */

_bg($image, $x, $y, $width, $height, $repeat)
  background-image url($img_path + $image + '.png')
  background-image url($img_path + $image + '.svg')
  background-position $x $y
  background-size $width $height
  background-repeat $repeat

bg_image($image, $x = center, $y = center, $width = 100%, $height = 100%, $repeat = no-repeat)
  if $image
    _bg($image, $x, $y, $width, $height, $repeat)
