/**
 * Borders
 */

_borders($sides, $width, $color, $style)
  if not $width
    $width = $border_width

  if not $color
    $color = $border_color

  if not $style
    $style = solid

  if $sides
    for $side in $sides
      if $side
        border-{$side} $width $color $style

  else

    if length($width) > 1 or length($color) > 1 or length($style) > 1
      border-width $width
      border-style $style
      border-color $color
    else
      border $width $color $style

$sides  = top right bottom left
$styles = solid dashed dotted double groove ridge inset outset inherit

borders()
  $this_side  = false
  $this_width = false
  $this_color = false
  $this_style = false

  for argument in arguments

    if argument is a 'unit'

      if $this_width
        push($this_width, argument)
      else
        $this_width = argument

    else if argument is a 'color' or argument == 'transparent'

      if $this_color
        push($this_color, argument)
      else
        $this_color = argument

    else if argument in $styles

      if $this_style
        push($this_style, argument)
      else
        $this_style = argument

    else if argument in $sides

      if $this_width or $this_color or $this_style
        _borders($this_side, $this_width, $this_color, $this_style)

        $this_width = false
        $this_color = false
        $this_style = false
        $this_side  = false

      if $this_side
        push($this_side, argument)
      else
        $this_side = argument

  _borders($this_side, $this_width, $this_color, $this_style)
