/**
 * Buttons
 */

btn()
  $padding = $space
  $height  = $btn_height
  $border  = $btn_border_width
  $bg      = $btn_bg_color
  $color   = $btn_font_color

  for argument in arguments
    if argument is tiny
      $padding = $space_xsm
      $height  = $btn_height_xsm

    if argument is small
      $padding = $space_xsm
      $height  = $btn_height_sm

    if argument is large
      $padding = $space_xsm
      $height  = $btn_height_lg

    if argument is flat
      $border  = $btn_border_width_flat
      $bg      = $btn_bg_color_flat
      $color   = $btn_font_color_flat

    if argument is primary
      $border = $btn_border_width_primary
      $bg     = $btn_bg_color_primary
      $color  = $btn_font_color_primary

  if $border is 0
    border 0
  else
    borders $border $border_color

  border_box()
  inline_block()
  rounded()
  transition()
  uppercase()
  align center
  shadow none
  overflow visible
  margin 0
  width auto
  outline 0
  vertical-align middle
  text-decoration none
  text-shadow none
  white-space nowrap
  letter-spacing $btn_spacing
  font-weight $btn_font_weight
  font-family $btn_font
  cursor pointer
  padding 0 $padding
  height $height
  background-color $bg
  color $color
  font-size @height * .375
  line-height $height - ($border * 2)
  disabled()

  &:focus
  &:hover
  &:active
    if $border is 0
      border 0
    else
      if @background-color is 'transparent'

        if dark($bg_color) is true
          borders $border lighten($border_color, 5)
        else
          borders $border darken($border_color, 5)

      else

        if dark(@background-color) is true
          borders $border lighten($border_color, 5)
        else
          borders $border darken($border_color, 5)

    outline 0
    shadow none

  &:focus
  &:hover
    if @background-color is not 'transparent'

      if dark(@background-color) is true
        background-color lighten(@background-color, 10)
      else
        background-color darken(@background-color, 10)

    else
      background-color transparent

    color @color

  &:active
    if @background-color is not 'transparent'

      if dark(@background-color) is true
        background-color lighten(@background-color, 10)
      else
        background-color darken(@background-color, 10)

    else
      background-color transparent

    click_down()
