/**
 * Flexbox Grid
 */

grid()
  display flex

  for argument in arguments

    if argument is row
      flex-direction row
    if argument is row-reverse
      flex-direction row-reverse
    if argument is column
      flex-direction column
    if argument is column-reverse
      flex-direction column-reverse

    if argument is wrap
      flex-wrap wrap
    if argument is nowrap
      flex-wrap nowrap
    if argument is wrap-reverse
      flex-wrap wrap-reverse

    if argument is left
      justify-content flex-start
    if argument is right
      justify-content flex-end
    if argument is center
      justify-content center
    if argument is justify
      justify-content space-between
    if argument is spaced
      justify-content space-around

    if argument is stretch
      align-items stretch
    if argument is top
      align-items flex-start
    if argument is bottom
      align-items flex-end
    if argument is middle
      align-items center
    if argument is baseline
      align-items baseline

    if argument is content-stretch
      align-content stretch
    if argument is content-top
      align-content flex-start
    if argument is content-bottom
      align-content flex-end
    if argument is content-middle
      align-content center
    if argument is content-justify
      align-content space-between
    if argument is content-spaced
      align-content space-around
