/**
 * Headings
 */

_heading($heading)
  overflow-wrap break-word
  margin-top 0
  margin-bottom $space_lg
  color $h + $heading + _color
  word-wrap break-word
  word-break keep-all
  word-break break-word
  hyphens manual
  font-weight $h + $heading + _weight
  font-size $h + $heading + _size
  font-family $h + $heading + _font
  line-height $line_height_sm

  a
    link @color

  span
    if dark(@color) is true
      color $color_secondary_dark
    else
      color $font_color_darker

    &:before
      regular()
      relative()
      small()
      content ': '

h1()
  _heading 1

h2()
  _heading 2

h3()
  _heading 3

h4()
  _heading 4

h5()
  _heading 5
  letter-spacing 2px

h6()
  _heading 6
  uppercase()
  letter-spacing 2px

heading_list()
  borders top bottom
  h6()
  padding $space_xsm 0
  width 100%
