/**
 * Input Fields
 */

input()
  $widths  = 100% auto

  if $input_border_width is 0
    border 0
  else
    borders $input_border_width $input_border_color

  border_box()
  disabled()
  transition()
  rounded $input_radius
  shadow none
  outline 0
  background-color $input_bg_color
  color $input_font_color
  font-family $font_primary

  &:focus
  &:active
    shadow none
    outline 0
    background-color darken(@background-color, 5)

    if $input_border_width is 0
      border 0
    else
      borders $input_border_width $input_border_color_active

  if checkbox in arguments
    size 1rem
    padding 0
    vertical-align middle
    line-height 1rem

    &:checked
      &:before
        size 100%
        margin 0 0 0 -1px
        color $color_primary
        font-size 1rem

    + label
      display inline-block
      margin-left $space_xsm
      vertical-align middle
      line-height @line-height

  else
    $width  = $input_width
    $height = $input_height

    for argument in arguments

      if argument in $widths
        $width = argument

      else if argument is tiny
        $height = $input_height_xsm

      else if argument is small
        $height = $input_height_sm

      else if argument is large
        $height = $input_height_lg

    placeholder()
    regular()
    fluid_type $font_size_min $font_size_max
    size $width $height
    margin 0
    padding 0 $space_sm
    line-height $height - ($input_border_width * 2)

    &:focus
    &:active
      color $input_font_color_active
