/**
 * Interaction Effects
 */

/** Transition */
transition(arguments = all .5s ease)
  transition arguments

/** Selection */
selection($color = $color_selection)
  &::-moz-selection
  &::selection
    background-color $color

    if dark(@background-color) is true
      color $grey_lightest
    else
      color $grey_darkest

/** Hover */
hover_darken($percent = 25%)
  &:hover
    if @background-color
      background-color darken(@background-color, $percent)

    else if @color
      color darken(@color, $percent)

hover_lighten($percent = 25%)
  &:hover
    if @background-color
      background-color lighten(@background-color, $percent)
    else if @color
      color lighten(@color, $percent)

hover_underline($border = $border_width, $type = $link_decoration, $color = null)
  borders bottom $border $type transparent

  &:hover
    borders bottom $border $type $color

hover_pop($scale = 1.2, $rotate = null, $shadow = null)
  if $shadow
    box-shadow 0 0 1px transparent

  &:hover
    relative()
    z-index 10
    transform scale($scale)

    if $shadow
      box-shadow 0 0 5px rgba($black, .3)

    if $rotate
      transform scale($scale) rotate($rotate)

hover_fade($amount = .5)
  &:hover
    opacity $amount

hover_color($color)
  &:hover
    if @background-color
      background-color $color

    else if @color
      color $color

hover_glow($color = rgba($color_primary, .8), $radius = 20px)
  &:hover
    box-shadow 0 0 $radius 2px $color

hover_float()
  relative()

  &:before
    absolute()
    top 108%
    left 5%
    z-index -1
    width 90%
    height 10px
    background radial-gradient(ellipse at center, rgba($black, .25), rgba($black) 80%)
    content ''
    opacity 0
    pointer-events none

  &:hover
    transform translateY(-7px)

    &:before
      opacity 1
      transform scale(1)

/** Clicks */
click_down($distance = 1px)
  &:active
    transform translateY($distance)

click_shadow($distance = 2px, $radius = 10px)
  &:active
    box-shadow 0 $distance $radius 2px rgba($black, .25)

click_inset($radius = 20px)
  $distance = $radius / 2

  &:active
    box-shadow inset 0 $distance $radius rgba($black, .35)

click_shrink($distance = .92)
  &:active
    transform scale($distance)

/** Links */
link()
  $decorations = none dotted underline

  $color      = null
  $hover      = null
  $decoration = null

  for argument in arguments

    if argument in $decorations
      if argument is underline
        hover_underline()
      else
        text-decoration argument

    else
      if $color is null
        $color = argument

      else if $hover is null
        $hover = argument

  if $color is null
    $color = $link_color

  transition()
  outline 0
  box-shadow none
  color $color
  text-decoration none
  cursor pointer

  &:hover
  &:active
  &:focus
    outline 0

  if $hover is not null
    &:hover
    &:focus
      color $hover

    &:active
      if dark($hover) is true
        color darken($hover, 15)
      else
        color lighten($hover, 15)

  else
    &:hover
    &:focus
      if @background-color
        if dark(@background-color) is true
          color lighten($color, 10)
        else
          color lighten($color, 25)
      else
        if dark($color) is true or dark($bg_color) is true
          color lighten($color, 15)
        else
          color darken($color, 20)

    &:active
      if dark($color) is true
        color darken($color, 15)
      else
        color darken($color, 20)
