/**
 * Lists
 */

list()
  if none in arguments
    margin-bottom $space_lg
    padding-left 0
    list-style none

  else if inline in arguments
    group()
    grid row
    margin-bottom 0
    padding-left 0
    list-style none

    li
      margin-right 0

  else
    margin-bottom $space_lg
    padding-left $space_sm
    list-style-position outside
    list-style-type $style
