/**
 * Position
 */

_position($type, arguments)
  $i = 0
  position $type

  for j in (1..4)
    if length(arguments) > $i
      {arguments[$i]}: arguments[$i + 1] is a 'unit' ? arguments[$i += 1] : 0
    $i += 1

absolute()
  _position(absolute, arguments)

fixed()
  _position(fixed, arguments)

relative()
  _position(relative, arguments)

static()
  _position(static, arguments)

sticky()
  _position(sticky, arguments)
