/**
 * Box Shadow
 */

shadow()
  $x      = 0
  $y      = 1px
  $blur   = 1px
  $spread = 0
  $color  = $black

  if arguments is none
    box-shadow none
  else
    box-shadow $x $y $blur $spread rgba($color, .75)

    &:focus
    &:hover
      box-shadow $x $y $blur $spread rgba($color, .4)

    &:active
      box-shadow $x $y $blur $spread rgba($color, .6)
