/**
 * Sizes
 */

size()
  $sizes = false
  $range = false
  $width = width
  $height = height

  for argument in arguments

    if argument is min
      $range = min

    else if argument is max
      $range = max

    else
      if argument is false
        $size = 'false'
      else
        $size = argument

      if $sizes
        push($sizes, $size)
      else
        $sizes = $size

  if $range is min
    $width = min-width
    $height = min-height

  else if $range is max
    $width = max-width
    $height = max-height

  if length($sizes) == 1
    {$width} $sizes[0]
    {$height} $sizes[0]
  else
    {$width} $sizes[0] if $sizes[0] != 'false'
    {$height} $sizes[1] if $sizes[1] != 'false'
