/**
 * Tables
 */

table($type = regular)
  display table

  if $type is fixed
    margin 0
    padding 0
    table-layout fixed

    > *
      display table-cell

  else
    overflow-x auto
    margin-bottom $space_lg
    max-width 100%
    width 100%
    border-collapse collapse
    background-color transparent
    empty-cells show

    thead
    tbody
      vertical-align middle

    thead
      borders bottom $border_width_lg

    th
    td
      &:first-of-type
        padding-left 0

      &:last-of-type
        padding-right 0

    tr
      &:last-of-type
        th
          border-bottom 0

    th
      borders top bottom $border_width_lg
      small()
      uppercase()
      align left
      padding $space_xsm $space_sm
      color $font_color_darker
      vertical-align bottom
      font-family $font_secondary

    td
      borders top
      padding $space_sm
      vertical-align top

    if $type is stripped
      thead
        tr
          border 0

      tbody
        tr
          &:nth-of-type(odd)
            td
              if dark($bg_color) is true
                background-color lighten($bg_color, 2)
              else
                background-color darken($bg_color, 2)

        td
          border 0

    if $type is bordered
      borders()

      th
      td
        &:first-of-type
          padding-left $space_sm

        &:last-of-type
          padding-right $space_sm

      th
        borders top bottom $border_width_lg right left

      td
        borders()

    if $type is hoverable
      tbody
        tr
          &:focus
          &:hover
            td
              if dark($bg_color) is true
                background-color lighten($bg_color, 2)
              else
                background-color darken($bg_color, 2)

    if $type is small
      td
        padding $space_xsm
