/**
 * Typography
 */

/** Font Weight */
hairline()
  font-weight 100

thin()
  font-weight 200

light()
  font-weight 300

regular()
  font-weight 400

medium()
  font-weight 500

semi()
  font-weight 600

bold()
  font-weight 700

bolder()
  font-weight 800

heavy()
  font-weight 900

/** Font Style */
normal()
  font-style normal

italic()
  font-style italic

strong()
  font-weight $font_weight_bold

/** Font Size */
big()
  font-size 120%

bigger()
  font-size 140%

small()
  font-size 87.5%

smaller()
  font-size 75%

/** Case */
lowercase()
  text-transform lowercase

uppercase()
  text-transform uppercase

resetcase()
  text-transform none

/** Text Decoration */
underline()
  borders bottom
  text-decoration none

strike()
  text-decoration line-through

/** Hyphenation */
hyphenation()
  word-break break-all
  word-break break-word
  hyphens auto
  -webkit-hyphenate-before 2
  -webkit-hyphenate-after 3
  hyphenate-lines 3

/** Paragraphs */
p()
  margin-top $space_lg
  margin-bottom $space_lg
  line-height $line_height
  overflow-wrap break-word
  word-wrap break-word
  word-break break-word
  font-size inherit

/** Blockquote */
blockquote($direction = 'left')
  group()
  relative()
  margin-bottom $space_lg
  color $font_color_dark
  quotes '\201c''\201d'

  &:before
  &:after
    absolute()
    bold()
    size $space_lg
    top 0
    color $color_primary
    vertical-align middle
    font-size $font_size * 4
    font-family 'Georgia', serif
    line-height $line_height_reset

  footer
  figcaption
    block()
    small()
    color $font_color_darker

    &:before
      content '\2014 \00A0'

  if $direction is 'right'
    align right
    padding-right $space_lg + $space_sm
    padding-left 0

    &:after
      right 0
      content '\201d'

  else
    padding-left $space_lg + $space_sm

    &:before
      left 0
      content '\201c'

/** Quote */
q()
  color $font_color_dark
  quotes '\0022''\0022'

  &:before
    content open-quote

  &:after
    content close-quote
