/** Addresses */
.address
  &-header
    absolute()
    transition()
    align center
    top 0
    right 0
    z-index 1020
    display none
    padding $space_xsm $space_lg
    background-color rgba($color_primary, .75)
    rounded 0 0 1rem 1rem

    &:hover
    &:focus
      padding-top $space_sm

    +above($break_content_md)
      display block

    p
      margin 0
      padding 0

  &-footer
    align center
    padding $space_xlg 0
    background-color $color_primary_dark

    p
      margin 0
      padding 0

.address
  &-email
    a
      link $color_secondary_lightest
      font-size .8rem

  &-message
    uppercase()

  &-phone
    a
      bold()
      link $white
      margin 1rem auto
      fluid_type 2rem 3rem

      .address-header &
        font-size 1.5rem

  &-location
    color $color_secondary_lightest
