/** Logo */
.brand
  absolute()
  border_box()
  transition()
  rounded 0 0 50% 50%
  size $logo_width_sm
  top 0
  left 50%
  z-index 1000
  margin-top 0
  margin-bottom @margin-top
  margin-left (-($logo_width_sm / 2))
  padding 1rem
  background-color $color_primary

  +above($break_content_xsm)
    size $logo_width
    margin-left (-($logo_width / 2))
    padding 1.5rem

  a
    block()
    size 100%

  svg
    block()
    size 100%
    fill $white

  &-small
    hide()
    rounded 0
    size $icon_size
    left 0
    margin-left 0
    padding 0
    background-color transparent

    &:hover
    &:focus
      background-color $color_secondary

    +above($break_content_sm)
      size $menu_height
      padding $space_xsm

    svg
      fill $color_primary

      &:hover
      &:focus
        fill $white

    &.fixed
      block()
