/** Buttons */
button-menu()
  bold()
  border_box()
  uppercase()
  padding 0 1rem
  height $menu_height
  line-height @height

button-big()
  size 12rem 3rem
  margin 0 auto

  &:active
    click_down()

  a
    block()
    uppercase()
    link $color_primary
    rounded 1.5rem
    background-color $color_secondary
    font-weight 900
    line-height 3rem

    &:hover
    &:focus
      background-color $color_secondary_lightest
      color $color_primary_dark

.button
  button-big()

.button-menu
  align center
  margin $space_xsm (-($space_sm)) (-($space_xsm))

  +above($break_content_sm)
    absolute()
    top 0
    right 0
    margin 0

  a
    button-menu()
    block()
    link()
    background-color $color_secondary
    color $white

    &:hover
    &:focus
      background-color $color_primary

    &:active
      color $color_secondary
