/** Global */
h1
  margin-top $space_lg

p
  margin $space_lg 0

svg
  size 100%
  
  &.icon
    transition()

/** Main content */
#content
  line-height 1.5
  
/** Post summary */
.summary
  margin 0 $space_sm $space_sm
  width 'calc(100% - %s)' % ($space_sm * 2)
  
  +above($break_content_xsm)
    width 'calc(50% - %s)' % ($space_sm * 2)

  +above($break_content_sm)
    width 'calc(33.3333% - %s)' % ($space_sm * 2)
  
  +above($break_content_md)
    width 'calc(25% - %s)' % ($space_sm * 2)
  
  h2
    a
      link $color_secondary_lightest
  
  figure
    borders $color_primary_light
    overflow hidden
    
    a
      font-size 0

  img
    transition()
    
    &:focus
    &:hover
      filter grayscale(60%)
      transform scale(1.1)

  &-group
    grid row wrap
    overflow hidden
    margin-right (-($space_sm))
    margin-left @margin-right
    
/** Sharing */
.social
  &-aside
    rounded()
    grid row left
    margin $space_lg 0
    padding $space_xsm
    background-color $color_primary_dark
    line-height 1
  
  &-text
    small()
    uppercase()
    margin-right $space_xsm
    color $color_secondary
    line-height ($icon_size * .75)
  
  &-share
    list inline
    margin-top 0

    li
      size ($icon_size * .75)
      margin-right $space_xsm
    
    a
      block()
      size 100%
      
      &:hover
      &:focus
        svg
          fill $white

    svg
      fill $color_secondary_light