/** Forms & Inputs */
input[type='text']
input[type='email']
input[type='phone']
textarea
select
  border_box()
  rounded()
  transition()
  borders $color_primary_light
  padding $space_xsm $space_sm
  width 100%
  background-color $white

  &::placeholder
    color $color_secondary_light

  &:focus
  &:active
    borders $color_primary_lightest
    outline 0
    transform scale(1.01)

input[type='text']
input[type='email']
input[type='phone']
select
    height 3rem
    max-height @height
    line-height @height

textarea
  height 8rem
  line-height 1.5

input[type='submit']
  bold()
  border_box()
  borders()
  click_down()
  rounded()
  shadow()
  transition()
  uppercase()
  padding $space_xsm $space
  width auto
  height 3rem
  background-color $color_primary_lighter
  color $color_primary_dark
  font-size $font_size_sm
  line-height (@height - ($space_xsm * 2))
  cursor pointer

  &:hover
  &:focus
    background-color $color_primary_lightest

  &:focus
    outline 0

.form-group
  grid column

  &:last-child
    margin-bottom $space

  input
    margin-bottom $space_xsm

  +above($break_content_sm)
    grid row
    margin-bottom $space

    input
      margin-bottom 0

    input:first-child
      margin-right $space_xsm

    input:last-child
      margin-left $space_xsm

.alert-info
  hide()
  alert info
  width auto
  margin $space_sm auto 0

  &.show
    block()