/** Galleries inside the post */
.gallery
  &-group
    grid row wrap
    overflow hidden
    margin $space_lg (-($space_sm)) ($space_lg - $space)

    + p
      margin-top 0
  
  &-item
    borders $color_primary_light
    overflow hidden
    margin 0 ($space_sm / 2) $space
    width 'calc(50% - %s)' % ($space_sm)

    +above($break_content_xsm)
      width 'calc(33.3333% - %s)' % $space_sm

    +above($break_content_sm)
      width 'calc(33.3333% - %s)' % $space_sm

    +above($break_content_md)
      width 'calc(25% - %s)' % $space_sm

    img
      transition()
      
      &:focus
      &:hover
        filter grayscale(60%)
        transform scale(1.1)