/** Boxes */
.box
  relative()
  align center
  borders bottom $color_secondary_darkest
  padding $space 0

  +above($break_content_xsm)
    padding $space_xlg 0

  &:last-child
    border 0

  p
    margin 1.5rem 0
    padding 0

/** Panels */
.panel
  border_box()
  transition()
  rounded .5rem
  padding 1rem
  width 100%
  cursor pointer

  +above($break_content_xsm)
    margin-right ($space_xsm / 2)
    margin-left @margin-right
    width 'calc(50% - %s)' % $space_xsm

  +above($break_content_lg)
    width 'calc(25% - %s)' % $space_xsm

  &:hover
  &:focus
    shadow()
    transform scale(1.05)
    background-color $white
    color $color_primary

    .icon
      fill $color_primary

  p
    margin 1rem 0
    padding 0

  figure
    align center

  .icon
    transition()
    size 4rem
    margin 0 auto
    fill $white

  &-group
    grid wrap
    margin-right (-($space_sm))
    margin-left @margin-right

/** Projects */
.project
  flex 1
  padding 1rem

  &-photos
    grid row

    figure
      flex 1
      margin 0 $space_xsm

      &:first-child
        margin-left 0

      &:last-child
        margin-right 0

    img
      transition()

      &:hover
      &:focus
        filter grayscale(60%)
        transform scale(1.1)
    
    figcaption
      uppercase()
      margin-top $space_xsm
      color $color_secondary
      font-size .7rem
  
  &-photo
    borders $color_primary_light
    overflow hidden
    

  &-group
    grid column
    overflow hidden
    margin-right (-($space_xsm))
    margin-left @margin-right

    +above($break_content_sm)
      grid row
    
    h2
      margin-top 0
