.admin-bar
  hide()
  transition()
  padding $space_xsm $space_sm
  background-color $color_primary

  &.show
    grid column

    +above($break_content_sm)
      grid row center

  form
    width 100%
    max-width 40rem

    +above($break_content_sm)
      grid row right

  p
    align center
    margin 0 0 $space_xsm
    width 100%

    +above($break_content_sm)
      border_box()
      align right
      flex 1
      margin 0 $space_sm 0 0
      size auto 2.5rem
      line-height 2.5rem

    &.login
      &-username
      &-password
        grid column
        margin-bottom $space_sm

        label
          uppercase()
          margin-bottom $space_xsm
          font-size $font_size_xsm
        
        +above($break_content_sm)
          align left
          grid row
          flex 1
          margin-bottom 0

          label
            margin-right $space_xsm

      &-submit
        align right
        margin 0 0 0 auto
        width 5rem

        +above($break_content_sm)
          flex 0

  input
  label
    border_box()

  input
    &[type='text']
    &[type='password']
      borders transparent
      rounded()
      transition()
      padding $space_xsm
      flex 1
      height 2.5rem
      background-color $color_primary_dark
      color $white

      &:focus
        borders $color_primary_light
        outline 0
      
      +above($break_content)
        margin-left $space_xsm
        width 100%

  input[type='submit']
  .button
    bold()
    border_box()
    borders()
    click_down()
    rounded()
    uppercase()
    padding $space_xsm
    width auto
    height 2.5rem
    background-color $color_secondary
    color $white
    font-size $font_size_sm
    line-height (@height - (@padding * 2))
    cursor pointer

    &:hover
    &:focus
      background-color $color_secondary_lightest
      color $white

    &:focus
      outline 0