/** Main Menu */
.menu
  &-main
    border_box()
    relative()
    transition()
    z-index 1020
    padding $space_xsm 0
    background-color $white

    +above($break_content_sm)
      padding 0
      height $menu_height

    +above($break_content_lg)
      margin-top (-($menu_height))

    &.fixed
      fixed()
      top 0
      margin-top 0
      width 100%

      .menu-main-menu-container
      .menu
        +above($break_content_md)
          margin-left 4rem

    &-menu-container
    .menu
      transition()
      hide()
      margin-top $space_xsm

      +above($break_content_sm)
        margin 0 (-($space))
        padding-bottom $space_xsm
        background-color $white

      +above($break_content_md)
        block()
        margin 0
        padding-bottom 0

    ul
      list none
      margin 0 (-($space))

      +above($break_content_md)
        margin 0
        list inline

      a
        block()
        bold()
        border_box()
        link()
        uppercase()
        align center
        padding $space_xsm 0
        height 2rem

        +above($break_content_md)
          padding 0 $space_sm
          height $menu_height
          line-height @height

        &:hover
        &:focus
          background-color $color_secondary
          color $white

        &:active
          background-color $color_primary

.toggle
  &-checkbox
    display none

  &-label
    transition()

  &-menu
    block()
    size $icon_size
    z-index 1000
    margin 0 auto
    line-height $icon_size

    +above($break_content_sm)
      padding-top (($menu_height / 2) - ($icon_size / 2))
      padding-bottom @padding-top

    +above($break_content_md)
      hide()

    .icon
      &-close
        hide()

#toggle
  &-menu:checked ~
    .toggle-menu
      .icon-close
        block()

      .icon-menu
        hide()

    .menu-main-menu-container
    .menu
      block()

  .icon
    size $icon_size
    fill $color_primary
