.quote-popup
  fixed()
  hide()
  size 100%
  top 0
  left 0
  overflow auto
  z-index 1030
  background-color rgba($black, .9)

  &.show
    block()

.quote-form
  absolute()
  border_box()
  rounded()
  shadow()
  align center
  top $space_sm
  right @top
  left @top
  margin-bottom $space_sm
  padding $space
  background-color $color_primary_light
  color $white

  +above($break_content_xsm)
    top 3rem
    left 50%
    width 24rem
    transform translate(-50%, 0)

  +above($break_content_sm)
    width 32rem

  .quote-close
    block()
    size $icon_size
    margin (-($space / 2)) (-($space / 2)) 0 auto

  .icon-close
    size 100%
    fill $white

  .field-wrap
    &:last-child
      margin-bottom 0

  p
    margin 0 0 $space

    &:last-child
      margin-bottom 0

  label
    uppercase()
    font-size $font_size_xsm
  
  .textarea-wrap
    textarea
      height 8rem

  .quote-message
    borders()
    hide()
    transition()
    alert success
    margin-top $space
    margin-bottom 0

    &.show
      block()
    
  .ninja-forms-form-wrap
    select
      height 3rem

  .ninja-forms-required-items
    borders()
    alert info
    margin-top $space_sm
    margin-bottom @margin-top
 
  .ninja-forms-req-symbol
    relative()
    color $color_error
    font-size $font_size_lg
    bottom -.25em
    vertical-align baseline
  
  .ninja-forms-req
    &.error
      borders $color_error