/** Sliders */
.swiper-container-horizontal
  overflow hidden
  .swiper
    &-button-prev
    &-button-next
      size 3rem
      background none

      svg
        size 100%
        fill $color_secondary

    &-button-prev
      left 0

    &-button-next
      right 0

  &.swiper
    &-frontpage
      relative()
      max-height 100vh
      width 100%

      .swiper
        &-slide
          figure
            margin-right -4rem
            margin-left @margin-right
            max-height 100vh

          a
            font-size 0

          figcaption
            border_box()
            align center

            bottom 0
            padding $space_xsm 0
            height 2rem
            background-color $color_secondary_lighter
            color $color_primary
            font-style italic
            font-size 1rem
            font-family $font_secondary

            +above($break_content_sm)
              absolute()
              bottom 3rem
              left 0
              padding $space_sm 0
              width 100%
              height auto
              background-color rgba($white, .5)
              font-size 2rem

            +above($break_content_md)
              bottom 7rem
              font-size 2.5rem

        &-pagination
          &-bullets
            border_box()
            bottom 1rem
            display none
            padding-top .25rem
            height 1rem

            +above($break_content_xsm)
              grid center
              bottom ($featured_caption_height_sm + 1rem)

            +above($break_content_sm)
              bottom 1rem

            +above($break_content_lg)
              bottom ($menu_height + 1rem)

          &-bullet
            border_box()
            size .5rem
            borders 2px $color_secondary
            background-color transparent
            opacity 1

            &-active
              background-color $color_secondary

        &-button-prev
        &-button-next
          top auto
          bottom 0
          display none

          +above($break_content_xsm)
            bottom $featured_caption_height_sm
            display block

          +above($break_content_sm)
            bottom 0

          +above($break_content_lg)
            bottom $menu_height

    &-testimonial
      blockquote
        margin 0
        padding 0

        +above($break_content_xsm)
          margin-right $space_xlg
          margin-left @margin-right

      .swiper
        &-button-prev
        &-button-next
          hide()

          +above($break_content_xsm)
            block()
