/** Typography */
h1
  fluid_type 2.5rem 3rem
  margin-top 0

blockquote
  padding 0 3rem
  font-style italic
  fluid_type 1rem 1.2rem
  font-family $font_secondary

  cite
    block()
    group()
    small()
    uppercase()
    margin-top 1rem
    color $color_secondary
    font-style normal
    font-family $font_primary
